
<div class="spotify__container anim-hide"
     bind-scroll-to="{{bindScrollto}}"
     when-visible="animateElementIn">

        <!--
    <div class="soundcloud__placeholder">

        <div class="media-body">
            <h4 class="media-heading" ng-bind-html="module.caption"></h4>
        </div>

    </div>
        -->
</div>
