
/*
    SoundCloud
*/

.block_spotify {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $block-margin-mobile;
    position: relative;
    text-align: center;

    @include respond-to(tablet) {
        margin-top: $block-margin-tablet;
    }

    @include respond-to(desktop) {
        margin-top: $block-margin-desktop;
    }

    @include respond-to(desktop_big) {
        margin-top: $block-margin-desktop-big;
    }
}

